.main-header {
  position: fixed;
  top: 0;
  z-index: $index-header;
  opacity: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1.5rem 2rem;

  color: $color-white;
  background: transparent;

  transition: top 0.3s, background 0.5s ease-in-out;

  &.isHidden {
    top: -6rem;
  }
  &.inMove {
    background: $color-gray-900;
  }

  .logo {
    position: relative;
    flex-shrink: 0;
    width: 6.6rem;

    z-index: 6;
  }

  .header-nav {
    display: flex;
    gap: 3rem;
  }
  .nav-items {
    display: flex;

    .nav-item {
      display: flex;
      align-items: center;
    }
  }

  .nav-item a {
    position: relative;

    font: $font-b16-medium;
    padding: 0.625rem 1.5rem;

    white-space: nowrap;
    .hover-line {
      position: relative;
    }
    .hover-line::after {
      content: "";
      position: absolute;
      bottom: -0.2em;
      left: 0;

      width: 0;
      height: 0.2em;

      border-radius: 5rem;
      background: $color-white;
      transition: all 0.6s;
    }
    &:hover .hover-line::after {
      width: 100%;
    }
  }
  .primaryButton {
    margin-left: 1rem;
  }

  .menu-icon {
    position: relative;
    z-index: $index-above-menu;

    flex-shrink: 0;
    padding: 0.75rem;
    width: 3rem;
    overflow: visible;
    cursor: pointer;
    transition: all 0.8s;

    > * {
      transform-origin: center center;
    }

    // .line2 {
    //   transition: all 0.35s ease-in-out;
    //   transform-origin: left;
    // }
    // .line3 {
    //   transform-origin: bottom left;
    // }
    .line1 {
      // opacity: 0;
      scale: 0;
      transform: translate(0%, 0%) rotate(45deg);
    }
    .line2 {
      // opacity: 0;
      scale: 0;
      transform: translate(0%, 0%) rotate(-45deg);
    }
    .line1,
    .line2 {
      transition: all 0.2s cubic-bezier(0.83, -0.02, 0, 1.11);
    }
    .rec1,
    .rec3 {
      transition: scale 0.8s cubic-bezier(0.17, 0.85, 0, 1.04), transform 0.8s;
    }
    .rec2 {
      transition: all 0.8s cubic-bezier(0.38, 0.39, 0.16, 1.06);
    }

    &.isClicked {
      transform: rotate(180deg);
      .line1,
      .line2 {
        transition: all 1s cubic-bezier(0.81, -0.43, 0, 1.02);
      }

      .rec1,
      .rec3 {
        transition: transform 0.8s;
      }

      .line1 {
        transform: translate(0%, 0%) rotate(45deg);
        opacity: 1;
        scale: 1;
      }
      .line2 {
        opacity: 1;
        scale: 1;
        transform: translate(0%, 0%) rotate(-45deg);
      }
      .rec1 {
        transform: translate(-14%, 15%) rotate(45deg) scale(0.6);
        // scale: 0.5;
      }
      .rec2 {
        transition: all 0.8s;
        transform: translate(0%, 0%) scale(0);
      }
      .rec3 {
        // scale: 0.5;
        transform: translate(-12%, -16%) rotate(-45deg) scale(0.6);
      }
    }
  }

  .menu-nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: $index-menu;

    display: flex;
    flex-direction: column;

    height: 100svh;
    padding: 3.75rem 2.75rem 2.25rem;

    background: rgba(27, 27, 27, 0.653);
    backdrop-filter: blur(7px);

    opacity: 0.5;
    transition: all 0.4s ease-out;
    transform: translateX(100%);

    &.isOpen {
      right: 0;
      top: 0;

      opacity: 1;
      transform: translateX(0);
    }
  }
  .menu-nav-items {
    display: flex;
    flex-direction: column;
    flex-basis: 0;

    padding: 3.4rem 0;
  }
  .menu-nav-item {
    display: flex;
    width: max-content;
    margin-left: auto;

    font: $font-b17-regular;
    cursor: pointer;
    transition: color 0.5s;
    color: $color-white;

    &:hover {
      color: $color-green-700;
    }

    a {
      padding: 1rem 0;
    }
  }
  .menu-nav-button {
    display: flex;
    margin-left: auto;
  }
  .menu-nav-bottom {
    margin-top: auto;
  }
  .menu-nav-links {
    display: flex;
    gap: 0rem;
  }
  .menu-nav-link {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 2.75rem;
    height: 2.75rem;

    transition: padding-bottom 0.35s ease-in-out;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      width: 0;
      height: 0.1rem;
      margin: auto;

      background: $color-white;
      border-radius: 50px;
      transition: width 0.35s ease-in-out;
    }
    &:hover {
      padding-bottom: 1.25rem;

      &::after {
        width: 0.75rem;
      }
    }

    img {
      display: block;
      margin: auto;
      align-self: baseline;
    }
    &.linkedin {
      img {
        width: 2rem;
      }
    }
    &.phone {
      img {
        width: 1.5rem;
      }
    }
    &.mail {
      img {
        width: 1.75rem;
      }
    }
  }
  .menu-nav-title {
    margin-top: 1.6rem;
  }
}
