@media only screen and (min-width: 768px) {
  .leaf-item.unfold2 {
    position: relative;
    transform-origin: top left;
    transform: perspective(1500px) translate(-3.5rem, 0) rotateY(-180deg);
    z-index: 3;

    &.firstUnfold {
      animation: unfold2Anime 1s forwards;
    }
    @keyframes unfold2Anime {
      50% {
        z-index: 0;
      }
      100% {
        z-index: 0;
        transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
      }
    }
  }

  .leaf-item.unfold3 {
    position: relative;

    transform-style: preserve-3d;
    transform-origin: top right;
    transform: perspective(1500px) translate(0, -3.5rem) rotateX(180deg);

    &.firstUnfold {
      animation: firstUnfold3Anime 1s forwards;
    }
    @keyframes firstUnfold3Anime {
      100% {
        transform: perspective(1500px) translate(3.5rem, -3.5rem)
          rotateX(180deg) rotateY(-180deg);
      }
    }

    &.secondUnfold {
      animation: secondUnfold3Anime 1s forwards;
    }
    @keyframes secondUnfold3Anime {
      0% {
        transform: perspective(1500px) translate(3.5rem, -3.5rem)
          rotateX(180deg) rotateY(-180deg);
      }
      100% {
        transform: perspective(1500px) translate(3.5rem, 0rem) rotateX(0deg)
          rotateY(-180deg);
      }
    }

    &.thirdUnfold {
      animation: thirdUnfold3Anime 1s forwards;
    }
    @keyframes thirdUnfold3Anime {
      0% {
        transform: perspective(1500px) translate(3.5rem, 0rem) rotateX(0deg)
          rotateY(-180deg);
      }
      100% {
        transform: perspective(1500px) translate(0, 0) rotateX(0)
          rotateY(-360deg);
      }
    }

    

    @keyframes unfold3Anime {
      0% {
      }
      33% {
        transform: perspective(1500px) translate(3.5rem, -3.5rem)
          rotateX(180deg) rotateY(-180deg);
      }

      49% {
      }

      66% {
        transform: perspective(1500px) translate(3.5rem, 0rem) rotateX(0deg)
          rotateY(-180deg);
      }

      100% {
        transform: perspective(1500px) translate(0, 0) rotateX(0)
          rotateY(-360deg);
      }
    }
  }

  .leaf-item.unfold4 {
    position: relative;
    transform-origin: top left;
    transform: perspective(1500px) translate(-3.5rem, -3.5rem) rotateX(180deg)
      rotateY(-180deg);

    &.firstUnfold {
      animation: firstUnfold4Anime 1s forwards;
    }
    &.secondUnfold {
      animation: secondUnfold4Anime 1s forwards;
    }

    @keyframes firstUnfold4Anime {
      100% {
        z-index: 3;
        transform: translate(0, -3.5rem) rotateX(180deg) rotateY(0deg);
      }
    }
    @keyframes secondUnfold4Anime {
      0% {
        z-index: 3;
        transform: translate(0, -3.5rem) rotateX(180deg) rotateY(0deg);
      }
      50%{
        z-index: -1;
      }
      100% {
        z-index: -1;
        transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
      }
    }
  }
  // &.isShown {
  //   animation: unfold4Anime 2s forwards;

  // }
  @keyframes unfold4Anime {
    0% {
    }

    50% {
      z-index: 3;
      transform: translate(0, -3.5rem) rotateX(180deg) rotateY(0deg);
    }
    75% {
      z-index: -1;
    }
    100% {
      z-index: -1;
      transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
    }
  }
}



@media only screen and (max-width: 767px) {
  .leaf-item.unfold2 {
    position: relative;
    transform-origin: top left;
    transform: perspective(1500px) translateY(-0.5rem) rotateX(-180deg);
    z-index: 3;

    &.firstUnfold {
      animation: unfold2Anime 1s forwards;
    }
    @keyframes unfold2Anime {
      50% {
        z-index: 0;
      }
      100% {
        z-index: 0;
        transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
      }
    }
  }

  .leaf-item.unfold3 {
    position: relative;

    transform-style: preserve-3d;
    transform-origin: top right;
    transform: perspective(1500px) translateY(calc(-1rem - 200%)) rotateX(-360deg);

    &.firstUnfold {
      animation: firstUnfold3Anime 1s forwards;
    }
    @keyframes firstUnfold3Anime {
      100% {
        transform: perspective(1500px) translateY(calc(-0.5rem - 100%))
          rotateX(-180deg);
      }
    }

    &.secondUnfold {
      animation: secondUnfold3Anime 1s forwards;
    }
    @keyframes secondUnfold3Anime {
      0% {
        transform: perspective(1500px) translate(3.5rem, -3.5rem)
          rotateX(180deg) rotateY(-180deg);
      }
      100% {
        transform: perspective(1500px) translate(3.5rem, 0rem) rotateX(0deg)
          rotateY(-180deg);
      }
    }

    &.thirdUnfold {
      animation: thirdUnfold3Anime 1s forwards;
    }
    @keyframes thirdUnfold3Anime {
      0% {
        transform: perspective(1500px) translate(3.5rem, 0rem) rotateX(0deg)
          rotateY(-180deg);
      }
      100% {
        transform: perspective(1500px) translate(0, 0) rotateX(0)
          rotateY(-360deg);
      }
    }

    

    @keyframes unfold3Anime {
      0% {
      }
      33% {
        transform: perspective(1500px) translate(3.5rem, -3.5rem)
          rotateX(180deg) rotateY(-180deg);
      }

      49% {
      }

      66% {
        transform: perspective(1500px) translate(3.5rem, 0rem) rotateX(0deg)
          rotateY(-180deg);
      }

      100% {
        transform: perspective(1500px) translate(0, 0) rotateX(0)
          rotateY(-360deg);
      }
    }
  }

  .leaf-item.unfold4 {
    position: relative;
    transform-origin: top left;
    transform: perspective(1500px) translate(-3.5rem, -3.5rem) rotateX(180deg)
      rotateY(-180deg);

    &.firstUnfold {
      animation: firstUnfold4Anime 1s forwards;
    }
    &.secondUnfold {
      animation: secondUnfold4Anime 1s forwards;
    }

    @keyframes firstUnfold4Anime {
      100% {
        z-index: 3;
        transform: translate(0, -3.5rem) rotateX(180deg) rotateY(0deg);
      }
    }
    @keyframes secondUnfold4Anime {
      0% {
        z-index: 3;
        transform: translate(0, -3.5rem) rotateX(180deg) rotateY(0deg);
      }
      50%{
        z-index: -1;
      }
      100% {
        z-index: -1;
        transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
      }
    }
  }
  // &.isShown {
  //   animation: unfold4Anime 2s forwards;

  // }
  @keyframes unfold4Anime {
    0% {
    }

    50% {
      z-index: 3;
      transform: translate(0, -3.5rem) rotateX(180deg) rotateY(0deg);
    }
    75% {
      z-index: -1;
    }
    100% {
      z-index: -1;
      transform: translate(0, 0) rotateX(0deg) rotateY(0deg);
    }
  }
}